*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: white;
  font-family: "Commissioner", sans-serif;
}

.crowdfund__button {
  background-color: #147b74;
  color: white;
  font-size: 1.6rem;
  width: 22rem;
  padding: 1.25rem;
  border: 0.1rem solid #147b74;
  border-radius: 3rem;
}
.crowdfund__button--menu {
  all: unset;
  background: transparent;
  border: 0.1rem solid transparent;
}
.crowdfund__button--bookmark {
  all: unset;
  background: transparent;
  border: 1px solid transparent;
  display: flex;
  overflow: hidden;
  width: 5rem;
}
.crowdfund__button--mini {
  width: 16rem;
  font-size: 1.4rem;
  padding: 1.5rem;
}
.crowdfund__button-disabled {
  background-color: #7a7a7a;
  border: 0.1rem solid #7a7a7a;
  opacity: 0.6;
}
.crowdfund__button-disabled:hover {
  cursor: not-allowed;
}
.crowdfund {
  background-image: url(../../images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30rem;
  padding: 0 2rem;
  box-shadow: 0px 44px 38px 27px rgba(0, 0, 0, 0.2) inset;
}
.crowdfund__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.3rem 0;
}
.crowdfund__navigation {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 21px 46px 6px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
}
.crowdfund__list {
  list-style: none;
  font-size: 1.8rem;
}
.crowdfund__item {
  padding: 2.5rem 2rem;
}
.crowdfund__item:not(:last-child) {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.crowdfund__link {
  text-decoration: none;
  font-weight: 500;
}
.crowdfund__link:link, .crowdfund__link:visited {
  color: black;
}
.crowdfund__main {
  padding: 0 2rem;
  margin-top: -5rem;
}

.mastercraft__section {
  position: relative;
  background-color: white;
  font-weight: 500;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto 2rem auto;
  padding: 3rem 2.7rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  box-shadow: 0px 4px 8px 1px rgba(125, 125, 126, 0.2);
}
.mastercraft__section--mini {
  box-shadow: unset;
}
.mastercraft__logo {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}
.mastercraft__title {
  font-size: 2rem;
}
.mastercraft__title--primary {
  text-align: center;
  width: 90%;
  margin: 1.5rem auto;
}
.mastercraft__title--secondary {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.mastercraft__title--mini {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.mastercraft__title-disabled {
  color: #7a7a7a;
  opacity: 0.6;
}
.mastercraft__subtitle {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.mastercraft__subtitle--primary {
  color: #7a7a7a;
  text-align: center;
}
.mastercraft__subtitle--mini {
  color: #3cb4ac;
}
.mastercraft__subtitle-disabled {
  opacity: 0.6;
}
.mastercraft__bookmark-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mastercraft__number-wrapper {
  text-align: center;
}
.mastercraft__num {
  color: #7a7a7a;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  font-size: 1.4rem;
}
.mastercraft__num:not(:last-child)::after {
  content: "";
  width: 10rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 2.5rem auto 0;
}
.mastercraft__num-span {
  color: black;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.mastercraft__num-span--mini {
  margin-bottom: 0;
}
.mastercraft__num--mini {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.mastercraft__num--mini:not(:last-child)::after {
  all: unset;
}
.mastercraft__num-disabled {
  opacity: 0.6;
}
.mastercraft__progress {
  position: relative;
  background-color: rgba(122, 122, 122, 0.1);
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
}
.mastercraft__progress::before {
  content: "";
  position: absolute;
  background-color: #147b74;
  width: 80%;
  height: 100%;
  border-radius: 1rem;
}
.mastercraft__paragraph {
  font-size: 1.4rem;
  line-height: 1.7;
  margin-bottom: 2.5rem;
  font-weight: 400;
  color: #7a7a7a;
}
.mastercraft__paragraph-disabled {
  opacity: 0.6;
}
.modal__big {
  display: none;
}
.modal__small {
  display: none;
}

/*# sourceMappingURL=style.css.map */
