*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all 0.3s;
}

ul,
li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: white;
  font-family: "Commissioner", sans-serif;
  position: relative;
}

.crowdfund__button {
  background-color: #3cb4ac;
  color: white;
  font-size: 1.6rem;
  width: 22rem;
  padding: 1.25rem;
  border: 0.1rem solid #3cb4ac;
  border-radius: 3rem;
}
.crowdfund__button:hover {
  cursor: pointer;
  background-color: #147b74;
  border: 0.1rem solid #147b74;
}
.crowdfund__button--menu {
  all: unset;
  background: transparent;
  border: 0.1rem solid transparent;
}
.crowdfund__button--menu:hover {
  background: transparent;
  border: 0.1rem solid transparent;
}
@media (min-width: 1140px) {
  .crowdfund__button--menu {
    display: none;
  }
}
.crowdfund__button--bookmark {
  all: unset;
  background: transparent;
  border: 1px solid transparent;
  display: flex;
  overflow: hidden;
  width: 5rem;
}
.crowdfund__button--bookmark.bookmarked {
  filter: invert(39%) sepia(32%) saturate(883%) hue-rotate(129deg) brightness(94%) contrast(98%);
}
@media (min-width: 768px) {
  .crowdfund__button--bookmark {
    background: rgba(122, 122, 122, 0.1);
    color: #7a7a7a;
    align-items: center;
    gap: 1rem;
    border-radius: 3rem;
    width: 18rem;
  }
}
.crowdfund__button--bookmark:hover {
  background-color: rgba(122, 122, 122, 0.1);
  border: 0.1rem solid transparent;
}
.crowdfund__button--bookmark:hover .mastercraft__bookmark {
  opacity: 0.6;
}
.crowdfund__button--mini {
  width: 16rem;
  font-size: 1.4rem;
  padding: 1.5rem;
}
.crowdfund__button-disabled {
  background-color: #7a7a7a;
  border: 0.1rem solid #7a7a7a;
  opacity: 0.6;
}
.crowdfund__button-disabled:hover {
  cursor: not-allowed;
  background-color: #7a7a7a;
  border: 0.1rem solid #7a7a7a;
}
.crowdfund__button-modal--close {
  all: unset;
  background: transparent;
  border: 0.1rem solid transparent;
}
.crowdfund__button-modal--close:hover {
  background: transparent;
  border: 0.1rem solid transparent;
}
.crowdfund__button-modal--submit {
  width: 11rem;
}
.crowdfund__button-modal--small {
  width: 9rem;
}

.crowdfund {
  background-image: url(../../images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30rem;
  padding: 0 2rem;
  box-shadow: 0px 60px 19px 2px rgba(0, 0, 0, 0.2) inset;
}
@media (min-width: 810px) {
  .crowdfund {
    background-image: url(../../images/image-hero-desktop.jpg);
    min-height: 40rem;
  }
}
@media (min-width: 810px) {
  .crowdfund__header {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1140px) {
  .crowdfund__header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.crowdfund__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.3rem 0;
}
@media (min-width: 810px) {
  .crowdfund__header-wrapper {
    padding: 5rem 0;
  }
}
.crowdfund__navigation {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 21px 46px 6px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 1140px) {
  .crowdfund__navigation {
    all: unset;
  }
}
.crowdfund .navigation__active {
  position: relative;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.crowdfund__list {
  list-style: none;
  font-size: 1.8rem;
}
@media (min-width: 1140px) {
  .crowdfund__list {
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    gap: 3rem;
  }
}
.crowdfund__item {
  padding: 2.5rem 2rem;
}
.crowdfund__item:not(:last-child) {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 1140px) {
  .crowdfund__item {
    position: relative;
    padding: 0;
  }
  .crowdfund__item:not(:last-child) {
    border-bottom: 0.1rem solid transparent;
  }
  .crowdfund__item:after {
    position: absolute;
    content: " ";
    background-color: transparent;
    width: 80%;
    height: 0.2rem;
    bottom: -0.7rem;
    left: 50%;
    transition: all 0.3s;
    transform: translateX(-50%);
  }
  .crowdfund__item:hover:after {
    background-color: white;
  }
}
.crowdfund__link {
  text-decoration: none;
  font-weight: 500;
}
.crowdfund__link:link, .crowdfund__link:visited {
  color: black;
}
@media (min-width: 1140px) {
  .crowdfund__link:link, .crowdfund__link:visited {
    color: white;
  }
}
.crowdfund__main {
  padding: 0 2rem;
  margin-top: -5rem;
}

.mastercraft__section {
  position: relative;
  background-color: white;
  font-weight: 500;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto 2rem auto;
  padding: 3rem 2.7rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  box-shadow: 0px 4px 8px 1px rgba(125, 125, 126, 0.2);
}
.mastercraft__section--mini {
  box-shadow: unset;
}
@media (min-width: 810px) {
  .mastercraft__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.mastercraft__logo {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}
.mastercraft__title {
  font-size: 2rem;
}
.mastercraft__title--primary {
  text-align: center;
  width: 90%;
  margin: 1.5rem auto;
}
.mastercraft__title--secondary {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.mastercraft__title--mini {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.mastercraft__title-disabled {
  color: #7a7a7a;
  opacity: 0.6;
}
.mastercraft__subtitle {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.mastercraft__subtitle--primary {
  color: #7a7a7a;
  text-align: center;
}
.mastercraft__subtitle--mini {
  color: #3cb4ac;
}
.mastercraft__subtitle-disabled {
  opacity: 0.6;
}
.mastercraft__bookmark-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mastercraft__bookmark.bookmarked {
  filter: invert(39%) sepia(32%) saturate(883%) hue-rotate(129deg) brightness(94%) contrast(98%);
}
.mastercraft__number-wrapper {
  text-align: center;
}
@media (min-width: 810px) {
  .mastercraft__number-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
}
.mastercraft__num {
  color: #7a7a7a;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  font-size: 1.4rem;
}
.mastercraft__num:not(:last-child)::after {
  content: "";
  width: 10rem;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 2.5rem auto 0;
}
@media (min-width: 810px) {
  .mastercraft__num {
    padding-right: 5rem;
  }
  .mastercraft__num:not(:last-child)::after {
    all: unset;
  }
  .mastercraft__num:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
}
.mastercraft__num-span {
  color: black;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.mastercraft__num-span--mini {
  margin-bottom: 0;
}
.mastercraft__num--mini {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.mastercraft__num--mini:not(:last-child)::after {
  all: unset;
}
@media (min-width: 810px) {
  .mastercraft__num--mini {
    margin-bottom: 0;
  }
  .mastercraft__num--mini:not(:last-child) {
    border-right: unset;
  }
}
.mastercraft__num-disabled {
  opacity: 0.6;
}
.mastercraft__progress {
  position: relative;
  background-color: rgba(122, 122, 122, 0.1);
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
}
.mastercraft__progress::before {
  content: "";
  position: absolute;
  background-color: #147b74;
  width: 80%;
  height: 100%;
  border-radius: 1rem;
}
.mastercraft__paragraph {
  font-size: 1.4rem;
  line-height: 1.7;
  margin-bottom: 2.5rem;
  font-weight: 400;
  color: #7a7a7a;
}
.mastercraft__paragraph-disabled {
  opacity: 0.6;
}
@media (min-width: 810px) {
  .mastercraft__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.modal__wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 12rem 2rem;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
}
.modal__wrapper.modal__active {
  visibility: visible;
  opacity: 1;
}
.modal__section {
  font-weight: 500;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto 2rem auto;
  padding: 3rem 2.7rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  box-shadow: 0px 4px 8px 1px rgba(125, 125, 126, 0.2);
}
.modal__big {
  background-color: white;
}
@media (min-width: 810px) {
  .modal__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.modal__title {
  font-size: 1.8rem;
}
.modal__title--secondary {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.modal__title--secondary:hover {
  cursor: pointer;
  color: #147b74;
}
.modal__title-disabled {
  opacity: 0.6;
}
.modal__title-disabled:hover {
  cursor: not-allowed;
  color: unset;
}
.modal__title--small {
  font-size: 1.8rem;
  margin: 2rem 0;
}
@media (min-width: 810px) {
  .modal__title--secondary {
    margin-bottom: 0;
  }
}
.modal__subtitle {
  color: #147b74;
  font-size: 1.4rem;
  font-weight: 400;
}
.modal__subtitle-disabled {
  opacity: 0.6;
}
.modal__paragraph {
  color: #7a7a7a;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.modal__paragraph--secondary {
  font-weight: 400;
}
@media (min-width: 810px) {
  .modal__paragraph--secondary {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.modal__paragraph--first {
  margin-bottom: 0;
}
.modal__paragraph-disabled {
  opacity: 0.6;
}
.modal__paragraph--small {
  color: #7a7a7a;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 3rem;
}
.modal__box {
  box-shadow: unset;
  padding: 0;
}
.modal__box--first {
  box-shadow: unset;
}
.modal__check-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
@media (min-width: 810px) {
  .modal__check-wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.modal__radio {
  appearance: none;
  border: 1px solid #7a7a7a;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
.modal__radio--disabled {
  border: 1px solid #c3c3c3;
  cursor: not-allowed;
}
.modal__radio:checked {
  background-color: #3cb4ac;
  box-shadow: inset 0 0 0 4px #fff;
}
.modal__box-divider {
  padding: 3rem 2.7rem 0;
}
@media (min-width: 810px) {
  .modal__box-divider {
    display: grid;
    grid-template-columns: 36rem 1fr;
  }
}
.modal__number {
  color: #7a7a7a;
  font-weight: 400;
  margin-bottom: 3rem;
}
@media (min-width: 810px) {
  .modal__number {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
  }
}
.modal__number--span {
  color: black;
  font-weight: 700;
  margin-right: 0.5rem;
}
.modal__number-disabled {
  opacity: 0.6;
}
.modal__pledge-wrapper {
  display: none;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 0 2.7rem 3rem;
  width: 100%;
  text-align: center;
}
@media (min-width: 810px) {
  .modal__pledge-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2.7rem 3rem;
  }
}
.modal__pledge {
  color: #7a7a7a;
  font-size: 1.4rem;
  margin: 3rem 0 2rem;
}
@media (min-width: 810px) {
  .modal__pledge {
    margin: 0;
  }
}
.modal__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.modal__input {
  width: 10rem;
  padding: 1.25rem;
  border: 0.1rem solid silver;
  border-radius: 3rem;
  font-weight: 700;
}
.modal__small {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2.7rem;
  visibility: hidden;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
