@use "../abstracts/index" as *;

.crowdfund {
  background-image: url(../../images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30rem;
  padding: 0 2rem;
  box-shadow: 0px 44px 38px 27px rgba(0, 0, 0, 0.2) inset;

  &__header {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3.3rem 0;
    }
  }

  &__logo {
  }

  &__burger {
  }

  &__navigation {
    background-color: $color-white;
    border-radius: 1rem;
    box-shadow: 0px 21px 46px 6px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
  }

  &__list {
    list-style: none;
    font-size: 1.8rem;
  }

  &__item {
    padding: 2.5rem 2rem;
    &:not(:last-child) {
      border-bottom: 0.1rem solid rgba($color-black, 0.1);
    }
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    &:link,
    &:visited {
      color: $color-black;
    }
  }

  &__main {
    padding: 0 2rem;
    margin-top: -5rem;
  }
}
