@use "../abstracts/index" as *;

.crowdfund {
  &__button {
    background-color: $color-moderatecyan;
    color: $color-white;
    font-size: 1.6rem;
    width: 22rem;
    padding: 1.25rem;
    border: 0.1rem solid $color-moderatecyan;
    border-radius: 3rem;

    &:hover {
      cursor: pointer;
      background-color: $color-darkcyan;
      border: 0.1rem solid $color-darkcyan;
    }

    &--menu {
      all: unset;
      background: transparent;
      border: 0.1rem solid transparent;

      &:hover {
        background: transparent;
        border: 0.1rem solid transparent;
      }

      @media (min-width: 1140px) {
        display: none;
      }
    }

    &--back {
      @media (min-width: 1140px) {
        width: 20rem;
        padding: 1.7rem;
      }
    }

    &--bookmark {
      all: unset;
      background: transparent;
      border: 1px solid transparent;
      display: flex;
      overflow: hidden;
      width: 5rem;

      &.bookmarked {
        filter: invert(39%) sepia(32%) saturate(883%) hue-rotate(129deg)
          brightness(94%) contrast(98%);
      }

      @media (min-width: 768px) {
        background: rgba($color-darkGray, 0.1);
        color: $color-darkGray;
        align-items: center;
        gap: 1rem;
        border-radius: 3rem;
        width: 18rem;
      }

      &:hover {
        background-color: rgba($color-darkGray, 0.1);
        border: 0.1rem solid transparent;
        .mastercraft__bookmark {
          opacity: 0.6;
        }
      }
    }

    &--mini {
      width: 16rem;
      font-size: 1.4rem;
      padding: 1.5rem;
    }

    &-disabled {
      background-color: $color-darkGray;
      border: 0.1rem solid $color-darkGray;
      opacity: 0.6;

      &:hover {
        cursor: not-allowed;
        background-color: $color-darkGray;
        border: 0.1rem solid $color-darkGray;
      }
    }

    &-modal--close {
      all: unset;
      background: transparent;
      border: 0.1rem solid transparent;

      &:hover {
        background: transparent;
        border: 0.1rem solid transparent;
      }
    }

    &-modal--submit {
      width: 11rem;
    }

    &-modal--small {
      width: 9rem;
    }
  }
}
