$color-moderatecyan: hsl(176, 50%, 47%);
$color-darkcyan: hsl(176, 72%, 28%);
$color-black: hsl(0, 0%, 0%);
$color-darkGray: rgb(122, 122, 122);
$color-white: hsl(0, 0%, 100%);
$color-error: hsl(0, 92%, 66%);
